@import url("./vendor/normalize.css");
@import url("./vendor/fonts.css");
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lato&display=swap');



/* Header */

.page {
  font-family: 'Fjalla One', sans-serif;
}

.main {
  min-height: 100vh;
  background-color: white;
  position: relative;
  z-index: 1;
  padding-bottom: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 9999;
    width: 100vw;
    background-color: white;
}


.logo-link {
    margin: auto 0;
}

.logo-link_type_white {
    display: block;
}

.logo {
    width: 100px;
    height: 50px;
    object-fit: contain;
    margin: 15px 0 15px 75px;
}

.nav {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 50px;
}

.nav__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
}

.nav__list-item {
    margin-right: 10px;
}

.nav__list-item:last-child {
    margin-right: 0;
}

.nav__link {
    text-decoration: none;
    color: black;
    font-size: 20px;
    text-transform: uppercase;
}


/* Company Name */

.company {
  margin: 0;
  text-align: center;
  background-color: #005;
  color: white;
  padding: 15px 0 15px 0;
}



.company__title {
    /* border: 1px solid red; */
    font-size: 55px;
    letter-spacing: 2px;
    margin: 0;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.company__subtitle {
    /* border: 1px solid red; */
    font-size: 30px;
    margin: 0;
}



/* Slideshow */


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 100vw;
  position: relative;
  margin: auto;
  overflow: hidden;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides__image {
    width: 100vw;
    object-fit: cover;
    height: 30vh;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* Info Grid */

.info {
  width: 90%;
  margin: auto;
}

.info__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  row-gap: 40px;
  column-gap: 70px;
  margin-top: 25px;
}

.card {
  /* height: 400px; */
  min-width: 0;
  min-height: 0;
}

.card__title {
  text-align: center;
  font-size: 45px;
}

.card__subtitle {
  text-align: center;
  font-size: 20px;
  line-height: 1.5;
}

.card__image {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}

.service-list {
  list-style-position: inside;
  width: 100%;
  padding: 0;
}

.service-list__item {
  margin-left: 10px;
  margin-bottom: 5px;
  font-size: 20px
}




/* Footer */

.footer {
  display: flex;
  flex-direction: column;
  background-color: #005;
  color: white;
  padding-top: 30px;
  position: sticky;
  bottom: 0;

}

.footer__title {
  font-size: 50px;
  text-align: center;
  margin: 0;
}

.footer__subtitle {
  font-size: 30px;
  text-align: center;
  margin: 0;
  margin-top: 15px;
}

.footer__row {
  width: 95%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

.footer__item {
  margin: auto;
  padding-bottom: 25px;
  flex-basis: 200px;
}

.footer__image {
  width: 250px;
  object-fit: contain;
}

.footer__info {
  text-align: center;
  font-size: 20px;
}

.footer__number {
  font-size: 15px;
}

.footer__copyright {
  width: 100%;
  height: 45px;
  text-align: center;
  background-color: black;
  margin: auto;
  line-height: 45px;
}



/* About Page */

.lead {
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/about/about-lead.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  text-align: center;
  color: white;
  padding: 100px 0;
}

.lead__title {
  font-size: 80px;
}

.lead__subtitle {
  margin: auto;
  font-size: 40px;
  width: 90%;
  line-height: 1.5;
  letter-spacing: 1.5px;
}

.business{
  width: 90%;
  margin: auto;
  margin-bottom: 75px;
  letter-spacing: 2px;
}

.business:last-child {
  margin-bottom: 0;
}

.business__title {
  text-align: center;
  font-size: 65px;
}

.business__paragraph {
  font-family: "Lato", sans-serif;
  font-size: 35px;
  line-height: 1.5;
}


/* Services */

.lead_page_services {
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/services/services-2.jpeg");
}

.services__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  justify-content: center;
  margin: auto;
  width: 95%;
  max-width: 1126px;
  position: relative;
  z-index: 2;
  margin-top: 45px;
}

.services__card {
  display: flex;
  justify-content: center;
  width: 100%; 
  max-width: 500px;
  align-self: center;
  position: relative;
  transition: transform 0.4s ease;
}

.services__image {
  width: 100%;
  object-fit: cover;
  box-shadow: 0px 10px 1px rgba(233, 240, 243, .7);
  transition: .5s ease;
  transition: box-shadow 0.5s;
  height: auto;
  max-width: 100%;
}

.services__overlay {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  text-align: center;
  background-color:rgb(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  border-radius: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.services__card:hover .services__overlay {
  opacity: 0.9;
}

.services__card:hover {
  transform: translate(-2px, -2px);
}

.services__card:hover .services__image {
  box-shadow: 0px 12px 3px rgba(233, 240, 243, .7);

}

.services__text {
  width: 80%;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  line-height: 2;
}